.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.button-group{
  display: flex;
  position: fixed;
  right: 3%;
  flex-wrap: wrap;
}

.button-group , button{
  margin-left: 40px;
}
