<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      *ngIf="loggedIn"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/categories']" routerLinkActive="router-link-active" >Categories</a>
      <a mat-list-item [routerLink]="['/markets']" routerLinkActive="router-link-active" >Markets</a>
      <a mat-list-item [routerLink]="['/sales']" routerLinkActive="router-link-active" >Sales</a>
      <a mat-list-item [routerLink]="['/tags']" routerLinkActive="router-link-active" >Tags</a>
      <a mat-list-item [routerLink]="['/subscribers']" routerLinkActive="router-link-active" >Subscribers</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-button [routerLink]="['/']" routerLinkActive="router-link-active" >Market Sales Recommender</mat-button>
      <div class="button-group">
        <button mat-raised-button color="accent" *ngIf="!loggedIn" (click)="onLogIn()" type="button" >Log In</button>
        <button mat-raised-button color="warn" *ngIf="loggedIn" (click)="onLogOut()" type="button">Log Out</button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
